@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-red:#eb2327;
  --primary-white: #eeeeee;
  --primary-black: #000000;
  --primary-orange: #DC5F00;
}

input:focus{
  outline-color: var(--primary-red);
}

body {
  font-family: var(--font-poppins);
}
